/* =========================
   RESET
========================= */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


html{
    scroll-behavior:smooth;
}


body{

    background:#7f4a3f;

    font-family:Arial, sans-serif;

    color:white;

}




/* =========================
   VARIABLES
========================= */

:root{

    --primary:#e2af78;

    --secondary:#bd7364;

    --card:#9c604f;

    --dark:#3b211b;

    --gradient:
    linear-gradient(
        135deg,
        #e2af78,
        #bd7364
    );

}






/* =========================
   HOME SECTION
========================= */


#home{

    min-height:100vh;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    text-align:center;

    padding:20px;

}




.Home_intro{


    background:#bd7364;

    padding:8px 25px;

    border-radius:50px;

    border:1px solid white;

    margin-bottom:25px;

}




.Home_intro p{

    font-size:15px;

}




#home h1{


    max-width:1000px;

    font-size:55px;

    line-height:1.2;

    margin-bottom:25px;


}




#home>p{


    max-width:800px;

    font-size:20px;

    color:#ffe7df;

    line-height:1.6;


}





.button_container{


    display:flex;

    gap:20px;

    margin-top:30px;


}





.btn{


    padding:14px 35px;

    border:none;

    border-radius:12px;

    background:#e2af78;

    color:#000;

    cursor:pointer;

    font-size:16px;

    transition:.3s;


}



.btn:hover{


    transform:translateY(-5px);

    background:#f4b46f;

    color:white;

}







/* =========================
   COMMON SECTION
========================= */


section{


    padding:90px 8%;


}




.Roadmap_header{


    text-align:center;

    margin-bottom:50px;


}



.Roadmap_header h1{


    font-size:45px;

    margin-bottom:15px;


}



.Roadmap_header p{


    color:#ffe7df;

    font-size:18px;


}







/* =========================
   ROADMAP
========================= */


.roadmap_container{


    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(230px,1fr));


    gap:25px;


}




.roadmap_card{


    background:#e2af78;

    color:#3b211b;

    padding:35px;

    border-radius:25px;

    transition:.4s;


}




.roadmap_card h2{


    font-size:40px;

    color:#7f4a3f;


}



.roadmap_card h3{


    margin:15px 0;

}





.roadmap_card:hover{


    transform:translateY(-12px);


    background:#b78856;

    color:white;


}








/* =========================
 FEATURES
========================= */


.feature_grid{


    display:grid;


    grid-template-columns:
    repeat(auto-fit,minmax(250px,1fr));


    gap:25px;


}





.card{


    background:rgba(255,255,255,0.12);

    padding:35px;

    border-radius:25px;

    backdrop-filter:blur(10px);

    border:1px solid rgba(255,255,255,.2);

    transition:.4s;


}





.card:hover{


    transform:scale(1.05);


    background:#bd7364;


}




.card h2{


    margin-bottom:15px;


}









/* =========================
 COMPONENTS
========================= */


.component_grid{


    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(250px,1fr));


    gap:25px;


}





.component{


    background:#e2af78;

    color:#3b211b;

    padding:40px;

    border-radius:25px;

    text-align:center;

    transition:.4s;


}




.component:hover{


    transform:
    translateY(-10px);


    background:#f4b46f;


}









/* =========================
 PROJECTS
========================= */


.project_grid{


    display:grid;


    grid-template-columns:
    repeat(auto-fit,minmax(250px,1fr));


    gap:30px;


}




.project_card{


    height:200px;


    background:
    linear-gradient(
        135deg,
        #e2af78,
        #bd7364
    );


    border-radius:25px;


    display:flex;


    justify-content:center;


    align-items:center;


    font-size:22px;


    font-weight:bold;


    color:#3b211b;


    transition:.4s;


}




.project_card:hover{


    transform:
    translateY(-15px)
    scale(1.05);


    color:white;


}








/* =========================
 INTERVIEW
========================= */


.question{


    background:rgba(255,255,255,.12);


    padding:30px;


    border-radius:20px;


    margin-bottom:20px;


    transition:.3s;


}




.question:hover{


    background:#bd7364;


}




.question h3{


    color:#e2af78;

    margin-bottom:10px;


}



.question p{


    color:#ffe7df;


}








/* =========================
 ANIMISTA
========================= */


.tracking-in-contract-bck-bottom{


animation:
tracking-in-contract-bck-bottom
0.8s ease both;


}

.cta{
    text-align: center;
    background-color: #3b211b;

}
.cta h2{
font-size: 32px;
margin-bottom: 25px;
}
.cta p{
  font-size: 15px;
margin-bottom: 5px;  
}
.footer{
    text-align: center;
    margin: 25px;
    color: #dddcdc;
}
.footer h3{
    font-size: 24px;
}



/* =========================
 RESPONSIVE
========================= */


@media(max-width:768px){


#home h1{

    font-size:38px;

}



#home>p{

    font-size:17px;

}



.button_container{

    flex-direction:column;

}



.Roadmap_header h1{

    font-size:35px;

}



}



@media(max-width:480px){


#home h1{

    font-size:28px;

}



.btn{

    width:200px;

}



section{

    padding:60px 5%;

}


}